<!DOCTYPE html>
<html ng-app="www">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="app.less" type="text/css" rel="stylesheet/less">

    <!-- Livereload script for development only (stripped during dist build) -->
    <script src="http://localhost:35729/livereload.js" data-concat="false"></script>

    <!-- JS from Bower Components -->
    <script src="bower_components/less.js/dist/less-1.6.2.js" data-concat="false"></script>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <!-- Add New Bower Component JS Above -->


    <!-- Main App JS -->
    <script src="app.js"></script>
    <script src="partial/tvShows/tvShows.js"></script>
    <script src="partial/show/show.js"></script>
    <script src="partial/watchTorrent/watchTorrent.js"></script>
    <script src="service/nowPlaying.js"></script>
    <script src="directive/toolbar/toolbar.js"></script>
    <script src="partial/tvShowsRecent/tvShowsRecent.js"></script>
    <script src="directive/tvShowToolbar/tvShowToolbar.js"></script>
    <script src="directive/errSrc.js"></script>
    <script src="partial/moviesAll/moviesAll.js"></script>
    <script src="partial/movie/movie.js"></script>
    <script src="service/background.js"></script>
    <!-- Add New Component JS Above -->

</head>
<body>


<div style="background-image:url({{background}}); background-size: cover; background-color: #161616" class="background"></div>
<div ui-view style="height: 100%">
</div>

</body>
</html>
