<toolbar></toolbar>
<div ng-controller="MovieCtrl" class="padding-submenu">
    <div class="container">
        <div class="row" >
            <div class="col-lg-4">
                <img ng-src="{{movie.poster}}">
            </div>
            <div class="col-lg-8">
                <div class="description">{{movie.description}}</div>
                <div class="quality">
                    <div class="col-lg-3 col-sm-6" ng-repeat="magnet in movie.magnets">
                        <div class="poster-button" ng-click="watch(magnet)">
                            <h3>{{magnet.quality}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style="height: 100px"></div>

</div>
